body{
  zoom: 110%;
  background-color: #0B0C10;
  color: white;
}

nav {
  background-color: #0B0C10;
  width: 100%;
  height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 40px 0 0;
}

nav ul li:first-child {
  margin-left: 40px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 16px;
  font-size: small;
  line-height: 100px; /* center vertically */
}

nav li a:hover {
  color: white;
}

nav li a h1:hover {
  color: black;
}

nav h1 {
  padding-left: 50px;
  text-align: center;
  color: white;
}

nav img {
  align-items: center;
  margin-right: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 60px;
  border: 2px solid white;
  padding: 10px 20px;
}

.input-group input[type=text] {
  border: none;
  margin-right: 10px;
  width: 255px;
}

.input-group button[type=submit] {
  background-color: transparent;
  border: none;
  color: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search {
  margin-right: 0;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.left {
  margin-bottom: 20px;
  padding-top: 0px;
  flex-grow: 1;
}

.box {
  height: 200px;
  width: 100%;
  background-color: gray;
  margin-top: 200px;
}

.box-right {
  height: 550px;
  width: 100%;
  background-color: #202833;
  margin: auto;
}

.box-left {
  height: 550px;
  width: 100%;
  margin: auto;
}

.box-right h3{
  padding-left: 30px;
  padding-top: 30px;
}

p:first-child {
  margin-bottom: 10px;
}

p:not(:first-child) {
  margin-bottom: 20px;
}

.contact .info{
  margin-right: 20PX;
}
  
.contact img{
  margin-right: 10px;
}

.contact {
  float: left;
  margin-right: 122px;
  justify-items: center;
  display: flex;
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 30px;
}

label {
  display: block;
  padding-top: 25px;
  color: white;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  background-color: #0B0C10;
  color: white;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
select::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1;
}

input[type="submit"] {
  background-color: #66FCF1;
  color: Black;
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  width: 225px;
  height: 65px;
  float: right;
  font-weight: bolder;
}

input[type="submit"]:hover {
  background-color: #0B0C10;
}

.Play{
  padding-top: 25px;
}

.footer{
  align-items: center;
  margin-bottom: 20px;
}

.socials{
  float: right;
  margin-right: 50px;
  margin-top: -55px;
}

.socials img {
  width: 50px;
  margin-right: 15px;
}

.socials img:last-child {
  margin-right: 0;
}

